<p>Tu amigo <%= @user %> te acaba de invitar a ser parte de Acceso Total: Cannes.</p>
<p>Aprovecha esta oportunidad y atrévete a vivir una experiencia que el dinero no puede comprar. 
Vive la magia de Cannes, Francia; visita lugares a los que muy pocas personas pueden ingresar 
y vive el glamour y la seducción de una de las ciudades más emblemáticas del mundo.</p>
 
<p>Ingresa al siguiente enlace y descubre cómo ganar: <%= link_to( 'http://accesototaltradicional.com/', 'http://accesototaltradicional.com/') %> </p>
