<div class="contenedor-div">
	<div class="pregunta-div">
    <div class="titulo_gracias"> ¡INVITACIONES ENVIADAS! </div>
    <br/>
    <div class="invita-div"> TE INVITAMOS A QUE VUELVAS A PARTICIPAR PARA <br/> TENER MAYORES POSIBILIDADES DE GANAR.<br/><br/></div>
    <%= button_tag '', :class=>"continuar-btn", :onclick => "window.location = '#{root_path}'" %>
	</div>
</div>
