<div>
	<div class="youtube horizontal">
    <iframe src="https://www.youtube.com/embed/pQ7fr310W-w?rel=0" type="text/html" width="100%" height="100%" allowfullscreen frameborder="0"></iframe>
	</div>
	<div class="registro horizontal">
		<%= button_tag '', :class=>"facebook-btn", :onclick => "login()" %>
		<br/><br/>
		<div> Ó INGRESA TU E-MAIL: </div>
		<%= text_field_tag 'email', nil, class: "campo-txt" %>
		<br/><br/>
		<%= button_tag '', :class=>"continuar-btn", :onclick => "loginEmail()" %>
	</div>
</div>