<div class="contenedor-div">
	<div class="codigo-div">
		<div> INGRESA EL CÓDIGO DE TU BOTELLA </div>
		<%= text_field_tag 'codigo', nil, class: "campo-txt" %>
		<br/><br/>
		<div class="error-txt"></div>
		<br/>
		<%= button_tag '', :class=>"continuar-btn", :onclick => "validaCodigo()" %>
	</div>
	<div id="user" data-id="<%= @user.id %>"></div>
</div>
<div>
  <div class="caja">EN ESTA ÁREA ENCONTRARÁS <br/> EL CÓDIGO DE TU BOTELLA</div>
</div>
