<div class="contenedor-div">
	<div class="pregunta-div">
		<div> ¡GRACIAS POR PARTICIPAR! </div>
		<div> INVITA </div>
		<br/>
		<%= button_tag '', :class => "invitar-btn", :onclick => "invitarAmigos()" %>
	</div>
</div>