<% content_for :head_script do %>
  <style type="text/css">
	.contenido {
		height: 850px;
		width: 810px;
		background-image: url(assets/fan.png);
		position: absolute;
		left: 0px;
		top: 0px;
	}
	.contenido .video {
		position: absolute;
		left: 179px;
		top: 368px;
	}
	.contenido .boton {
		position: absolute;
		height: 37px;
		width: 157px;
		left: 260px;
		top: 670px;
	}
	</style>
<% end %>

<div class="contenido">
  <div class="video">
  <iframe width="330" height="186" src="" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="boton"><a href="http://accesototaltradicional.com" target="_blank"><img src="assets/boton.png" width="153" height="37" alt="Participa Aquí" /></a></div>
</div>