<% content_for :head_script do %>
 <style type="text/css">
	.contenido {
		height: 850px;
		width: 810px;
		background-image: url(assets/no_fan.png);
		position: absolute;
		left: 0px;
		top: 0px;
	}
	</style>
<% end %>

<div class="contenido"></div>