@font-face {
  font-family: tradicional;
  font-style: normal;
  font-weight: normal;
  src: url('Alegre-Sans.eot'), url('Alegre-Sans.ttf') format('truetype');
}

html {
	background: url("fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: tradicional;
  height: 100%;
  width: 100%;
  min-height: 900px;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
	overflow: hidden;
}

textarea, input { outline: none; }
