/* #998452 */

.age-div {
	background-color: rgba(0,0,0,0.7);
	height: 900px;
	left: 0;
	position: absolute;
	top: 0;
	width: 1400px;
}

.age-check {
	font-size: 3em;
	text-align: center;
	padding-top: 150px;
}

.age-input {
	font-family: corresponsal;
	font-size: 0.7em;
	min-width: 60px;
	max-width: 120px;
}

.botella {
	margin: 0;
	padding: 0;
}

.caja2x2	{
	/*border: solid red 1px;*/
	height: auto;
	width: auto;
}

.contenedor {
	/*border: solid black 1px;*/
	font-size: 0;
	height: auto;
	position: absolute;
	right: 150px;
	top: 10px;
	width: auto;
}

.horizontal {
	display: inline-block;
	vertical-align: top;
}

.left {
	margin-left: -40px;
}

.logo {
	margin-left: 190px;
	margin-top: 55px;
}

.youtube {
	height: 310px;
  width: 400px;
}

#entrar-btn {
  background: transparent url("boton_entrar.png");
  border: none;
  cursor: pointer;
  height: 31px;
  width: 97px;
}

#entrar-btn:hover {
  background-image: url("boton_entrar_on.png");
}

#main-section {
	height: 100%;
	width: 100%;
}

#marco {
	background: rgba(0,0,0,0.5);
	border: solid #998452 4px;
	display: none;
	height: auto;
	margin-top: 370px;
	width: auto;
}