/* #998452 */

.age-div {
	background-color: rgba(0,0,0,0.7);
  background-size: 100% auto;
	height: 100%;
	width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 900px;
}

.age-check {
	font-size: 3em;
	text-align: center;
	padding-top: 150px;
}

.age-input {
	font-family: tradicional;
	font-size: 0.7em;
	min-width: 60px;
	max-width: 120px;
}

.botella {
	margin: 0;
	padding: 0;
}

.botella img{
  height: 800px;
}

.caja2x2	{
	/*border: solid red 1px;*/
	height: auto;
	width: auto;
}

.campo-txt {
	font-size: 20px;
	width: 300px;
}

.codigo-div {
	font-size: 30px;
	margin: auto;
	margin-top: 55px;
	text-align: center;
}

.contenedor {
	/*border: solid black 1px;*/
	font-size: 0;
	height: auto;
	position: absolute;
	right: 150px;
	top: 10px;
	width: auto;
}

.contenedor-div {
	height: 330px;
	width: 590px;
}

.continuar-btn {
  background: transparent url("boton_continuar.png");
  border: none;
  cursor: pointer;
  height: 30px;
  width: 116px;
}

.continuar-btn:hover {
  background-image: url("boton_continuar_on.png");
}

.error-txt {
	color: #998452;
	font-size: 25px;
	text-align: center;
	width: 97%;
}

.facebook-btn {
  background: transparent url("boton_participa.png");
  border: none;
  cursor: pointer;
  height: 40px;
  width: 233px;
}

.horizontal {
	display: inline-block;
	vertical-align: top;
}

.invita-div {
	color: white;
	font-size: 23px;
	text-align: center;
}

.invitar-btn {
  background: transparent url("boton_invitar.png");
  border: none;
  cursor: pointer;
  height: 30px;
  width: 116px;
}

.invitar-btn:hover {
  background-image: url("boton_invitar_on.png");
}

.left {
	margin-left: 70%;
}

.logo {
	margin: 2.5em auto auto 10%;
}

.participacion-div {
	font-size: 35px;
	margin: auto;
	margin-top: 20px;
	text-align: center
}

.pregunta-div {
	font-size: 30px;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

.pregunta {
	font-size: 20px;
	text-align: center;	
}

.registro {
	font-size: 30px;
	height: auto;
	margin: 15px;
	text-align: center;
	vertical-align: middle;
	width: auto;
}

.respuesta-txt {
	font-size: 20px;
	height: 85px;
	margin: 20px 0 25px 0;
	width: 370px;
}

.youtube {
	height: 270px;
	margin: 15px;
	vertical-align: middle;
  width: 380px;
}

#entrar-btn {
  background: transparent url("boton_entrar.png");
  border: none;
  cursor: pointer;
  height: 31px;
  width: 97px;
}

#entrar-btn:hover {
  background-image: url("boton_entrar_on.png");
}

#main-section {
	height: 100%;
	width: 100%;
}

#marco {
	background: rgba(0,0,0,0.5);
	border: solid #998452 4px;
	display: none;
	height: auto;
	margin-top: 370px;
	width: auto;
}

#n1-btn {
	background: transparent url("boton_1.png");
  border: none;
  cursor: pointer;
  height: 29px;
  margin: 10px;
  width: 30px;
}

#n1-btn:hover {
	background: transparent url("boton_1_on.png");
  border: none;
  cursor: pointer;
  height: 29px;
  margin: 10px;
  width: 30px;
}

#n1-btn.down {
	background: transparent url("boton_1_on.png");
  border: none;
  cursor: default;
  margin: 10px;
}

#n2-btn {
	background: transparent url("boton_2.png");
  border: none;
  cursor: pointer;
  height: 29px;
  margin: 10px;
  width: 30px;
}

#n2-btn:hover {
	background: transparent url("boton_2_on.png");
  border: none;
  cursor: pointer;
  height: 29px;
  margin: 10px;
  width: 30px;
}

#n2-btn.down {
	background: transparent url("boton_2_on.png");
  border: none;
  cursor: default;
  margin: 10px;
}

#n3-btn {
	background: transparent url("boton_3.png");
  border: none;
  cursor: pointer;
  height: 29px;
  margin: 10px;
  width: 30px;
}

#n3-btn:hover {
	background: transparent url("boton_3_on.png");
  border: none;
  cursor: pointer;
  height: 29px;
  margin: 10px;
  width: 30px;
}

#n3-btn.down {
	background: transparent url("boton_3_on.png");
  border: none;
  cursor: default;
  margin: 10px;
}

@media screen and (max-width: 900px) { 

  .age-check {
  	font-size: 1.8em;
    width: 80%;
    margin: auto auto auto 1em;
  }

  .left {
  	margin-left: 95%;
  }

  .logo {
	  margin: 2.5em auto auto 10px;
  }

  .logo_image{
    width: 180px;
    height: auto;
  }

}
